<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">


    <bean id="qiniuChannelProvider" class="com.yile.church.common.provider.QiniuChannelProvider">
        <property name="ak" value="${qiniu.security.ak}" />
        <property name="sk" value="${qiniu.security.sk}" />
        <property name="videoBucketName" value="${qiniu.bucket.video}" />
        <property name="audioBucketName" value="${qiniu.bucket.audio}" />
        <property name="photoBucketName" value="${qiniu.bucket.photo}" />
    </bean>

    <bean id="simpleMediaChannelProviderRouter" class="com.yile.church.common.router.SimpleMediaChannelProviderRouter">
        <property name="providers">
            <map>
                <entry key="1" value-ref="qiniuChannelProvider" />
            </map>
        </property>
    </bean>

    <bean id="mediaEngine" class="com.yile.church.common.engine.MediaEngine">
        <property name="mediaChannelProviderRouter" ref="simpleMediaChannelProviderRouter"/>
    </bean>

</beans>